<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thresholdsoft.mpospicker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.thresholdsoft.mpospicker.root.ApplicatinApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.thresholdsoft.mpospicker.ui.main.MainActivity"
            android:label="@string/title_home" />
        <activity
            android:name="com.thresholdsoft.mpospicker.ui.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dashboardtheme" />
        <activity
            android:name=".ui.openorders.OpenOrdersActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.readyforpickup.ReadyForPickUpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.readyforpickup.ScannerActivity" />
        <activity android:name=".ui.mpospackerflow.pickeduporders.PickedUpOrdersActivity" />
        <activity android:name=".ui.mpospackerflow.pickupverificationprocess.PickUpVerificationActivity" />
        <activity
            android:name=".ui.pickupprocess.PickupProcessActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.DeciderScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.pickupsummary.PickUpSummmaryActivityNew" />
        <activity android:name=".ui.selectedorderpickupprocess.SelectedOrderPickupProcessActivity" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>